[Unit]
Description=SSH key agent

[Service]
Type=exec
ExecStart=/usr/bin/ssh-agent -a %t/ssh-agent.socket
RemainAfterExit=yes

[Install]
WantedBy=default.target
